<script src="node_modules/angular/angular.min.js"></script> 
<script src="node_modules/chart.js/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="./app.component.js"></script>

<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <span>
    <img src="assets/img/125495334_31n.jpg" class="img-profile"/>
  </span>
  <span class="toolbar-fill-remaining-space"></span>
  <span>
    <button color="primary" mat-raised-button (click)="openDialog()">New</button>
  </span>
</mat-toolbar>
<mat-tab-group selectedIndex=1>
  <mat-tab label="Backlog">Tasks not start yet</mat-tab>
  <mat-tab label="TodoList">
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Reading
            </mat-panel-title>
            <mat-panel-description>
              The Lard of Ring
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          <div>
            <canvas class="chart chart-line" chart-data="data" chart-labels="labels" 
            chart-series="series" chart-click="onClick"></canvas>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Reading
            </mat-panel-title>
            <mat-panel-description>
              Understand JVM
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
        </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
  <mat-tab label="Achievement">Tasks have been done</mat-tab>
</mat-tab-group>  

