.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover
}

.toolbar-fill-remaining-space {
  flex: 1 1 auto;
}

.img-profile {
  height: 56px;
  width: 56px
}

.inpiut-full-width {
  width: 100%;
}

.task-details-container {
  display: flex;
  flex-direction: column;
}

.task-details-container > * {
  width: 100%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
  float: right;
}