<mat-toolbar>
    <span>
        <img src="assets/img/125495334_31n.jpg" class="img-profile"/>
    </span>
    <span class="toolbar-fill-remaining-space"></span>
    <span>
        <button color="primary" mat-raised-button (click)="openDialog()">New</button>
    </span>
    </mat-toolbar>
    <mat-tab-group selectedIndex=1>
    <mat-tab label="Backlog">
        <mat-accordion>
            <!--ng-template *ngFor="let task of submittedTasks" -->
            <ng-container *ngFor="let task of submittedTasks">
            <form [formGroup]="task_{{task.taskId}}" >
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title ng-if="task.taskType == 0">
                            Reading
                        </mat-panel-title>
                        <mat-panel-description>
                            {{task.taskName}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                    <label>Total Pages &nbsp;</label>
                    <mat-form-field [formControl]="pagesIntotal" class="input-full-width">
                        <input matInput value=" {{task.pagesIntotal}}" (focus)="value=''">
                    </mat-form-field>
                    <label>Expected Days &nbsp;</label>
                    <mat-form-field [formControl]="expectedDays" class="input-full-width">
                        <input matInput value=" {{task.expectedDays}}" (focus)="value=''">
                    </mat-form-field>
                    <label>Task Priority &nbsp;</label>
                    <mat-form-field [formControl]="priority" class="input-full-width">
                        <input matInput value=" {{task.priority}}" (focus)="value=''">
                    </mat-form-field>
                    <mat-dialog-actions>
                        <button mat-raised-button (click)="saveAndStart()">Save And Start</button>
                    </mat-dialog-actions>
                </mat-expansion-panel>
               
            </form>
            </ng-container>
        </mat-accordion>
    </mat-tab>
    <mat-tab label="TodoList">
        <mat-accordion>
            <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Reading
                </mat-panel-title>
                <mat-panel-description>
                The Lord of Ring
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            <label>Current Page &nbsp;</label>
            <mat-form-field class="input-full-width">
                <input matInput value="197" (focus)="value=''">
            </mat-form-field>
            <div [chart]="chart"></div>
            </mat-expansion-panel>
            <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Reading
                </mat-panel-title>
                <mat-panel-description>
                Understand JVM
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-tab>
    <mat-tab label="Achievement">Tasks have been done</mat-tab>
</mat-tab-group> 
<p><a [routerLink]="['/login']">Logout</a></p>
