<h2 mat-dialog-title>Create New Task</h2>
<mat-dialog-content>
  <div class="new-task-container">
    <mat-form-field>
      <mat-select placeholder="Task Type" [(value)]="taskType">
        <mat-option value="Reading">Reading</mat-option>
        <mat-option value="Sports">Sports</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Book Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="How many days needed to finish this book?">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Total pages of the book">
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close tabindex="-1">No</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>
