<h2 mat-dialog-title>Create New Task</h2>

  <mat-dialog-content [formGroup]="newTaskForm">
    <div class="new-task-container">
      <mat-form-field>
        <mat-select placeholder="Task Type" [(value)]="taskType">
          <mat-option value="Reading">Reading</mat-option>
          <mat-option value="Sports">Sports</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="taskName" placeholder="Book Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="expectDays" placeholder="How many days needed to finish this book?">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="totalPages" placeholder="Total pages of the book">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. 
    <button (click)="onSubmit()" mat-raised-button mat-primary >Yes</button>-->
    <button mat-raised-button mat-primary (click)="onSubmit()">Save</button>
  </mat-dialog-actions>
